
#gameStage {
    display: block;
    padding: 0;
    position: fixed;
    border: 0px;
    left:   0%;
    top:    0%;
    margin: auto;
    max-width: 100%;
    width: 100%;
    height: 100%;
}


html,body {
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

@font-face {
    font-family: Teko;
    font-style: normal;
    font-weight: 400;
    src: url("Teko-Bold.ttf");
}
